body {
    font-family: Arial, sans-serif;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvIBQgdBZVOcmustWopKFeBo_j8W_weNc9jg&s);
    background-size: auto;
}
.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgba(167, 248, 255, 0.7);

    box-shadow: 30px 30px 30px rgb(0, 0, 0);
}
.form-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    width: 130px;
    
}
.form-group input {
    width: calc(100% - 150px);
    padding: 5px;
}
.form-group input[type="submit"],
.form-group input[type="reset"] {
    width: auto;
    padding: 5px 15px;
}
.form-group {
    text-align: end;
}